<!-- 
Nguyen Le
ID: 40272922
SOEN 287- Winter 2024
Assignment 03
Concordia University
Date:  15 April 2024
-->

<footer>
  <p></p>
 <nav>
  <script>function privacyFun(){
    alert("Your information is protected by us. We do not share your information with any third party.");
} </script>
   
   <a href="/privacy" onclick = "privacyFun()">Privacy Policy</a>
   <p>Designed by Nguyen Le</p>
 </nav>
 <h5>Photo of logo taken on this website : <a href = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_117699381_cute-dog-logo-vector.html&psig=AOvVaw13R3Jl-LsOIUlGX0OcwW31&ust=1708206476577000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLiq05PrsIQDFQAAAAAdAAAAABAE">here</a></h5>

</footer>
