<!DOCTYPE html>


<!-- 
Nguyen Le
ID: 40272922
SOEN 287- Winter 2024
Assignment 03
Concordia University
Date:  15 April 2024
-->


<html lang ="en">
    <head>
        <meta charset ="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Pet adoption </title>
        <link rel="stylesheet" href="/css/style.css">
       
       
        
    </head>

    <body>
       <header>
        <table class = "nav">
            <tr>
                <td><div id = "time"></div></td>
                <td><h1>Pet Lovers</h1></td>
                <td><img src="images/doggyyy.jpeg"  usemap="#dog" alt="dog">
                <map name = "dog">
                    <area shape="rect" coords="0,0,50,50" href="/" alt="home">
                </map>
                </td>
                
            </tr>
        </table>
        
            
            <nav>
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/create-account">Create an Account</a></li>
                    <li><a href="/find-pet">Find a dog/cat</a></li>
                    <li><a href="/dog-care">Dog Care</a></li>
                    <li><a href="/cat-care">Cat Care</a></li>
                    <li><a href="/give-away">Have a pet to give away</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </nav>
        
    </header>
